/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*===== VARIABLES CSS =====*/

  :root {
  --header-height: 3rem;
  --nav-width: 324px;

  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  
  /*===== Colors =====*/
  --first-colour: black;
  --first-colour-dark: #0E2431;
  --first-colour-darken: #0E2431;
  --text-colour: black;
  --first-colour-light: #EAE7E6;
  --first-colour-lighten: #FFFAFA;
  
  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  
  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
  }

  @media screen and (min-width: 768px) {
    :root{
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

/*===== BASE =====*/
*,::before, ::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-colour-lighten);
  color: var(--text-colour);
  line-height: 1.6;
}

h1,h2.h3,p{
  margin: 0;
}

h3{
  font-weight: var(--font-semi-bold);
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--text-colour);
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */

.section{
  padding: 4rem 0 2rem;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--text-colour);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle{
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-colour-darken);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: .25rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-colour-lighten);
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}


/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo{
  margin-right: 1rem;
  color: var(--first-colour-dark);
}

.nav_menu{
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: black;
  transition: .5s;
}

.nav_close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--first-colour-dark);
  cursor: pointer;
}

.nav_item{
  margin-bottom: var(--mb-4);
}

.nav_link{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--first-colour-lighten);
  font-weight: var(--font-bold);
  transition: .3s;
}



.nav_toggle{
  color: var(--text-colour);
  font-size: 1.3rem;
  cursor: pointer;
}


/*=== Show menu ===*/
.show{
  left: 0;
}


/*Active menu*/


/*===== HOME =====*/
 .home_container{
   height: calc(100vh - var(--header-height));
   align-items: center;
  }

  .home_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
  }

  .home_img{
    padding-top: 1.3rem;
    padding-top: .8rem;
    width: 210px;
    height: 210px;
    
    border-radius: 50%;
    overflow: visible;
    margin-bottom: var(--mb-2);
  }

  .home_img img{
    width: 185px;
  }

  .home_title{
    margin-top: 20px;
    font-size: var(--h1-font-size);
    color: black;
    font-weight: var(--font-semi-bold);
  }

  .home_profession{
    font-size: var(--small-font-size);
    color: var(--first-colour-dark);
    margin-bottom: var(--mb-5);
  }

  .home_social{
    margin-bottom: 5rem;
  }

  .home_social-link{
    display: inline-flex;
    background-color: var(--first-colour-dark);
    color: var(--first-colour-lighten);
    font-size: 1.6rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;

  }

  .home_social-link:hover{
    background-color: var(--first-colour-lighten);
    color: var(--first-colour);
  }

  .home_button{
    width: 100%;
  }

/*BUTTONS*/
.button{
  display: inline-block;
  background-color: var(--first-colour);
  color: var(--first-colour-lighten);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  border-radius: .5rem;
  transition: .3s;
}

.button:hover{
  background-color: var(--first-colour-dark);
}

.button_light{
  background-color: var(--first-colour-lighten);
  color: var(--first-colour);
}

.button_light:hover{
  color: var(--first-colour-lighten);
}


/* ===== ABOUT =====*/
.about_container{
  row-gap: 2rem;
}

.about_data{
  text-align: center;
}

.about_description{
  margin-bottom: var(--mb-4);
}

.about_img{
  width: 50px;
  height: 100px;
  border-radius: .5rem;
  margin: 0 auto;
}

.about_information{
  margin-bottom: var(--mb-4);
}

.about_information-title{
  font-size: var(--h3-font-size);
  color: var(--first-colour-dark);
  margin-bottom: var(--mb-2);
}

.about_information-data{
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
}

.about_information-icon{
  font-size: 1.5rem;
  color: var(--first-colour);
  margin-right: var(--mb-4);
}

/* ===== SKILLS =====*/
.skills__container{
  row-gap: 2rem;
  
}

.skills__subtitle{
  font-size: var(--h3-font-size);
  color: var(--first-colour-dark);
  margin-bottom: var(--mb-2);
}

.skills_data{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 var(--mb-2);
  margin-bottom: var(--mb-4);
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}

.skills__icon{
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills__names{
  padding: 10px;
  display: flex;
  align-items: center;
}

/* ===== EDUCATION =====*/
.education_container{
  row-gap: 2rem;
}

.education_content{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.education_year, .education_race{
  font-size: var(--h3-font-size);
  margin-bottom: .25rem;
} 

.education_university, .education_specialty{
  display: block;
  font-size: var(--smaller-font-size);
}

.education_year, .education_university{
  text-align: right;
}

.education_time{
  padding: 0 1rem;
  justify-content: center;
}

.education_rounder{
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--first-colour);
  border-radius: 50%;
}

.education_rounder::before{
  content: '';
  position: absolute;
  transform: translate(-4px, -4px);
  width: 20px;
  height: 20px;
  border: 1px solid var(--first-colour);
  border-radius: 50%;
}

.education_line{
  display: block;
  height: 90%;
  width: 2px;
  background-color: var(--first-colour);
  transform: translate(5px, -4px);
}

/* ===== WORKS =====*/
.works_container{
  justify-items: center;
  row-gap: 2rem;
}

.works_img{
  position: relative;
  overflow: hidden;
  border-radius: .5rem;
}

.works_data{
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(75, 118, 204, 0.7);
  border-radius: .5rem;
  transition: .3s;
}

.works_link{
  display: inline-flex;
  font-size: 1.5rem;
  background-color: var(--first-colour-lighten);
  color: var(--first-colour);
  padding: .25rem;
  border-radius: .25rem;
  margin-bottom: var(--mb-2);
}

.works_title{
  font-size: var(--h2-font-size);
  color: var(--first-colour-lighten);
}

.works_img:hover .works_data{
  bottom: 0;
}
/* ===== CONTACT =====*/
.contact_container{
  row-gap: 3rem;
}

.contact_input{
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: var(--first-colour-light);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
  border-radius: .5rem;
}

.contact ::placeholder{
  color: var(--first-colour-dark);
  font-family: var(--body-font);
  font-weight: var(--font-medium);
}

.contact_button{
  outline: none;
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  cursor: pointer;
}

/* ===== FOOTER =====*/
.footer{
  background-color: black;
  color: var(--first-colour-lighten);
  text-align: center;
}

.footer_title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
}

.footer_description{
  margin-bottom: var(--mb-2);
}

.footer_social{
  margin-bottom: 3rem;
}

.footer_link{
  display: inline-flex;
  background-color: var(--first-colour);
  color: var(--first-colour-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: .40rem;
  margin: 0 var(--mb-1);
  transition: .3s;
}

.footer_link:hover{
  background-color: var(--first-colour-lighten);
  color: var(--first-colour);
}

.footer_copy{
  font-size: var(--small-font-size);
  color: var(--first-colour-lighten);
}
/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 768px){
  .home_button{
    width: initial;
  }

  .nav_menu{
    width: var(--nav-width);
  }

  .about_container, .skills_container, .works_container{
    grid-template-columns: repeat(2,1fr);
  }

  .about_data{
    text-align: initial;
  }

  .about_description{
    margin-bottom: var(--mb-5);
  }

  .about_img img{
    width: 120px;
    height: 120px;
  }

  .about_information{
    padding-left: 4rem;
  }

  .education_time{
    padding: 0 2rem;
  }

  .contact_inputs{
    display: grid;
  }

  .footer{
    background: none;
  }

  .footer_container{
    background-color: black;
    padding: 3rem 0;
    border-radius: .5rem;
  }
}

@media screen and (min-width: 1024px){
  body{
    margin: 0;
    padding-left:var(--nav-width);
  }

  .l-header{
    width: 0;
  }

  .nav_toggle, .nav_logo, .nav_close{
    display: none;
  }

  .nav_menu{
    left: 0;
  }

  .home_container{
    height: 100vh;
  }

  .section{
    padding: 3rem 0 2rem;
  }

  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }

  .works_container{
    grid-template-columns: repeat(3, 1fr);
  }
}